.custom-marker {
  background: red;

  button {
    background: #ff0000;
    border-color: #ff0000;
    color: #fff;
    border-radius: 50%;

    &:hover {
      background: #fff;
      color: #ff0000;
      cursor: pointer;
    }
  }
}